In [10]:
import twitter
import yaml
import config.mongo_setup as mongo_setup
from main import process_yaml

user = "lhmandetta"

mongo_setup.global_init()
auth_data = process_yaml()
# Twitter steps
bearer_token = twitter.create_bearer_token(auth_data)
total_count = twitter.get_tweets_count(user,bearer_token)
print(total_count)

 this user has 9 tweets in the last 7 days
9

In [2]:
from twitter import get_replies_count, create_bearer_token
import yaml
import config.mongo_setup as mongo_setup
from main import process_yaml

mongo_setup.global_init()
auth_data = process_yaml()
bearer_token = create_bearer_token(auth_data)

json_response = get_replies_count(1436359670084644865,bearer_token)
print(json_response)

there were 0 replies
0

In [44]:
#Counts

import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets, RepliesRequests, Replies
import pandas as pd
mongo_setup.global_init()

candidates = [('lhmandetta',2726301380),
('EduardoLeite_',123891446),
('DatenaOficial',68722955),
('SF_Moro',1113094855281000000),
('cirogomes',33374761),
('jdoriajr',64706049),
('LulaOficial',2670726740),
('jairbolsonaro',128372940),]

rows = []
cols = ['Candidate','Tweets','Replies','Total']

for candidate, id in candidates:
    replies = Replies.objects(in_reply_to_user_id=id)
    tweets = Tweets.objects(author_id=id)
    rows.append((candidate,len(tweets),len(replies),len(replies)+len(tweets)))
    # print(f'{candidate}:\n Tweets = {len(tweets)} \n Replies = {len(replies)} \n Total = {len(replies)+len(tweets)}')

df = pd.DataFrame(columns=cols, data=rows)
df

       Candidate  Tweets  Replies  Total
0     lhmandetta       9     1238   1247
1  EduardoLeite_      33     1121   1154
2  DatenaOficial      18      915    933
3        SF_Moro       0        0      0
4      cirogomes      93     8270   8363
5       jdoriajr      24     3082   3106
6    LulaOficial      19     1246   1265
7  jairbolsonaro      22     3258   3280

In [39]:
#DELETE FROM DB

import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets, RepliesRequests, Replies
import pandas as pd
mongo_setup.global_init()

candidates = [('lhmandetta',2726301380),
('EduardoLeite_',123891446),
('DatenaOficial',68722955),
('SF_Moro',1113094855281000000),
('cirogomes',33374761),
('jdoriajr',64706049),
('LulaOficial',2670726740),
('jairbolsonaro',128372940)]

id = 128372940

replies = Replies.objects(in_reply_to_user_id=id)
tweets = Tweets.objects(author_id=id)

# replies.delete()
# tweets.delete()
print(f'Tweets = {len(tweets)} \n Replies = {len(replies)} \n Total = {len(replies)+len(tweets)}')

Tweets = 22
 Replies = 3258
 Total = 3280