In [7]:
import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets
import pandas as pd
mongo_setup.global_init()

objs = Tweets.objects(tweet_id=1435415933577740289).values_list('tweet_id','author_id','created_at','text','lang','retweet_count','reply_count','like_count','quote_count','id')

# for i in objs:
#     print(i.text,i.tweet_id)
ob = objs.values_list('tweet_id','author_id','created_at','text','lang','retweet_count','reply_count','like_count','quote_count','id')
df = pd.DataFrame.from_records(data=ob, columns=['tweet_id','author_id','created_at','text','lang','retweet_count','reply_count','like_count','quote_count','id'])
df

,tweet_id,author_id,created_at,text,lang,retweet_count,reply_count,like_count,quote_count,id
0,1435415933577740289,74756085,2021-09-08,Mais uma vez uma parte da imprensa dá atenção ...,pt,500,345,3368,13,613833acc71179ec6744540d

In [56]:
import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets, RepliesRequests
import pandas as pd
mongo_setup.global_init()

objs = TweetsRequests.objects(request_meta__next_token='b26v89c19zqg8o3fpdp8ckkszjk4i461v90uorp9uva7x').first()
if not objs:
    print('do something')
else:
    print(objs.id)

613ec6fb5e4f642f7c772e4f

In [58]:
import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets
import pandas as pd
mongo_setup.global_init()

obj = RepliesRequests.objects.order_by('-id').first()
print(obj.request_meta.next_token)

b26v89c19zqg8o3fpdp7xlcqq2a9ld9lv7lds3iuueet9

In [1]:
dt = '2021-09-06T20:30:11.000Z'
dt[0:19]

'2021-09-06T20:30:11'