In [7]:
import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets
import pandas as pd
mongo_setup.global_init()

objs = Tweets.objects(tweet_id=1435415933577740289).values_list('tweet_id','author_id','created_at','text','lang','retweet_count','reply_count','like_count','quote_count','id')

# for i in objs:
#     print(i.text,i.tweet_id)
ob = objs.values_list('tweet_id','author_id','created_at','text','lang','retweet_count','reply_count','like_count','quote_count','id')
df = pd.DataFrame.from_records(data=ob, columns=['tweet_id','author_id','created_at','text','lang','retweet_count','reply_count','like_count','quote_count','id'])
df

,tweet_id,author_id,created_at,text,lang,retweet_count,reply_count,like_count,quote_count,id
0,1435415933577740289,74756085,2021-09-08,Mais uma vez uma parte da imprensa d√° aten√ß√£o ...,pt,500,345,3368,13,613833acc71179ec6744540d

In [56]:
import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets, RepliesRequests
import pandas as pd
mongo_setup.global_init()

objs = TweetsRequests.objects(request_meta__next_token='b26v89c19zqg8o3fpdp8ckkszjk4i461v90uorp9uva7x').first()
if not objs:
    print('do something')
else:
    print(objs.id)

613ec6fb5e4f642f7c772e4f

In [58]:
import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets
import pandas as pd
mongo_setup.global_init()

obj = RepliesRequests.objects.order_by('-id').first()
print(obj.request_meta.next_token)

b26v89c19zqg8o3fpdp7xlcqq2a9ld9lv7lds3iuueet9

In [1]:
dt = '2021-09-06T20:30:11.000Z'
dt[0:19]

'2021-09-06T20:30:11'

In [1]:
import twitter
import yaml
import config.mongo_setup as mongo_setup
from main import process_yaml

user = "lhmandetta"

mongo_setup.global_init()
auth_data = process_yaml()
# Twitter steps
bearer_token = twitter.create_bearer_token(auth_data)
total_count = twitter.get_tweets_count(user,bearer_token)
print(total_count)

4

In [2]:
#DELETE FROM DB

import config.mongo_setup as mongo_setup
from models import TweetsRequests, Tweets, RepliesRequests, Replies, RepliesSentiment
import pandas as pd
mongo_setup.global_init()

candidates = [('lhmandetta',2726301380),
('EduardoLeite_',123891446),
('DatenaOficial',68722955),
('SF_Moro',1113094855281000000),
('cirogomes',33374761),
('jdoriajr',64706049),
('LulaOficial',2670726740),
('jairbolsonaro',128372940)]

id = 128372940

replies = Replies.objects(in_reply_to_user_id=id)
tweets = Tweets.objects(author_id=id)

# replies.delete()
# tweets.delete()
print(f'Tweets = {len(tweets)} \n Replies = {len(replies)} \n Total = {len(replies)+len(tweets)}')

Tweets = 22
 Replies = 3258
 Total = 3280

In [23]:
replies = RepliesSentiment.objects[25000:].values_list('reply_id','length','sentiment', 'negative','positive', 'neutral','clean_text')
df = pd.DataFrame.from_records(data=replies, columns=['reply_id','length','sentiment', 'negative','positive', 'neutral','clean_text'])
df

,reply_id,length,sentiment,negative,positive,neutral,clean_text
0,1436445705753841668,None,negative,0.99,0.01,0.00,o √≠ndice t√£o alto deve-se aos p√©ssimos admini...
1,1436437077495885824,None,neutral,0.03,0.02,0.95,agora o rs sai da lama...
2,1436427195900174354,None,negative,0.98,0.02,0.00,"a depress√£o, mal do s√©culo, antes tratada sem..."
3,1436424525613309988,None,negative,0.98,0.01,0.01,"toma vergonha na cara , ent√£o √© bolsonaro qu ..."
4,1436424100306690072,None,negative,0.86,0.09,0.05,o povo ga√∫cho est√° esperando voc√™ ter um m√≠ni...
...,...,...,...,...,...,...,...
733,1437220479970988035,None,neutral,0.20,0.08,0.72,u√©!
734,1437220453517598724,None,neutral,0.05,0.09,0.86,üëèüëèüëèüëèüëèüëèüëèüëèüëè
735,1437220146146422784,None,neutral,0.05,0.09,0.86,ü§¨üí©üí©üí©
736,1437220129570533377,None,negative,0.97,0.01,0.02,s√≥ idiota para comparar aquela √©poca com a ...
737,1437220078748065796,None,positive,0.00,0.99,0.01,boa mortadela!

In [20]:
white = " "

replies = RepliesSentiment.objects.filter(clean_text__not__icontains=white).values_list('reply_id','length','sentiment', 'negative','positive', 'neutral','clean_text')
df = pd.DataFrame.from_records(data=replies, columns=['reply_id','length','sentiment', 'negative','positive', 'neutral','clean_text'])
# for reply in replies:
#     reply.delete()
df

,reply_id,length,sentiment,negative,positive,neutral,clean_text
0,1436141207034417156,None,neutral,0.00,0.01,0.99,@17cd7513772a4e7
1,1436140526194077703,None,neutral,0.02,0.03,0.95,@10rupert
2,1436158450677997571,None,neutral,0.04,0.11,0.85,@099filho
3,1436587993511473156,None,neutral,0.03,0.05,0.92,@100porcentorn
4,1437247250091151361,None,neutral,0.06,0.10,0.84,@____lalola
5,1437232852333121539,None,neutral,0.01,0.01,0.98,@_chilensis
6,1437196466376912905,None,neutral,0.04,0.09,0.87,@_mutika_
7,1436628687085051905,None,neutral,0.00,0.00,1.00,@4ns13d4d3
8,1436720657044279297,None,neutral,0.01,0.03,0.96,@2silvanaadiniz
9,1436720378852818951,None,neutral,0.01,0.03,0.96,@2silvanaadiniz
10,1436151251805294593,None,neutral,0.04,0.11,0.85,@099filho
11,1436147723317751815,None,neutral,0.04,0.11,0.85,@099filho
12,1435429393283813378,None,neutral,0.00,0.00,1.00,@3010b39413c7404
13,1436422995766091776,None,neutral,0.01,0.02,0.97,@777_martins